<h1 style="text-align: center;">Machine Learning Exercise 4 - Decision Tree From Scratch</h1>
<h2 style="text-align: center;">Ajay Badrinath</h2>
<h3 style="text-align: center;">21011102020</h3>

## Version Changelog
            
                1.0.0 -> Computed Part a) of Question for Gini Impurity for continuous Columns
                Yet to comment and build tree

In [2]:
import pandas as pd
import numpy as np

In [3]:
class compute_gini_impurity:
    def __init__(self,data,column:str,target:str):
        self.data=data
        self.column=column
        self.target=target
        self.data=self.data.sort_values(ascending=True,by=column)
        self.idx=self.data.index
        self.l=list(data[target].unique())
        self._update_map()
        self.get_split()
        self.split_points()
        self.create_avg_split_continuous()
    def _update_map(self):
        self._map={}
        for i in range(len(self.data)):
            self._map.update({ i:self.data.index.get_loc(i) })
    def get_split(self):
        flag=self.l[self.data[self.target].iloc[self._map[self.idx[0]]]]
        self.arr=[]
        for i in self.idx:
            if (self.data[self.target].iloc[self._map[i]]==self.l[(~flag)]):
                flag=~flag
                self.arr.append(i)
        #return arr 
    def split_points(self):
        self.split_points=[]
        for i in range(len(self.arr)):
            self.split_points.append(self._map[self.arr[i]]-1)
    def create_avg_split_continuous(self):
        #avf=pd.DataFrame(s)
        l2=[]
        for i in range(len(self.split_points)):
            l2.append((self.data[self.column].iloc[self.split_points[i]]+self.data[self.column].iloc[self.split_points[i]+1])/2)
        s=pd.Series(l2)
        self.avf=pd.DataFrame(s)
        self.avf=self.avf.rename({0:"avg"},axis=1)
    def compute_gini_leaf(self):
        
        gini_score=[]
        gini_dict={}
        gs,ix=np.inf,0

        for i in range(len(self.avf)):

            no1=len(self.data[(self.data[self.column]<self.avf.iloc[i][0] )&(self.data[self.target]==0)])
            yes1=len(self.data[(self.data[self.column]<self.avf.iloc[i][0] )&(self.data[self.target]==1)])
            no=len(self.data[(self.data[self.column]>=self.avf.iloc[i][0] )&(self.data[self.target]==0)])
            yes=len(self.data[(self.data[self.column]>=self.avf.iloc[i][0] )&(self.data[self.target]==1)])
            p1=no1/(no1+yes1)
            p2=no/(no+yes)
            gini1=1-(1-p1)**2-p1**2
            gini2=1-(1-p2)**2-p2**2
            total=((no1+yes1)/(no1+yes1+no+yes))*gini1+((no+yes)/(no1+yes1+no+yes))*gini2
            #gini_score.append(total)
            if(gs>total):
                gs=total
                ix=self.avf.iloc[i][0]
                #index=self.data.in
            gini_dict.update({self.avf.iloc[i][0]:total})

        return (ix,gs,gini_dict) #score,gini_dict_split,split_idx,split_feature,

In [4]:
data=pd.read_csv(r"D:/classification.csv")

### GINI Impurity for 'Age' Column

In [5]:
s=compute_gini_impurity(data,'Age','Purchased')

In [6]:
s1,ix,d=s.compute_gini_leaf()

In [7]:
s1,ix

(42.5, 0.268790236460717)

### Gini Impurity for 'EstimatedSalary' Column

In [8]:
s=compute_gini_impurity(data,'EstimatedSalary','Purchased')
s2,ix2,d2=s.compute_gini_leaf()
s2,ix2

(89500.0, 0.32756555944055943)

## Decision Tree From Scratch

In [122]:
data_cat=pd.read_csv(r"D://toydata.csv")

In [123]:
data_cat

     Outlook Temperature Humidity Windy Play
0      Sunny         Hot     High    No   No
1      Sunny         Hot     High   Yes   No
2   Overcast         Hot     High    No  Yes
3      Rainy        Mild     High    No  Yes
4      Rainy        Cool   Normal    No  Yes
5      Rainy        Cool   Normal   Yes   No
6   Overcast        Cool   Normal   Yes  Yes
7      Sunny        Mild     High    No   No
8      Sunny        Cool   Normal    No  Yes
9      Rainy        Mild   Normal    No  Yes
10     Sunny        Mild   Normal   Yes  Yes
11  Overcast        Mild     High   Yes  Yes
12  Overcast         Hot   Normal    No  Yes
13     Rainy        Mild     High   Yes   No

In [124]:
from category_encoders import OrdinalEncoder
maplist = [
    {'col': 'Outlook', 'mapping': {'Sunny': 0, 'Overcast': 1,'Rainy': 2}},
    {
        'col':'Temperature','mapping':{'Hot':0,'Mild':1,'Cool':2}

    },
    {
        'col':'Humidity','mapping':{'Normal':0,'High':1}

    },
    {
        'col':'Windy','mapping':{"No":0,"Yes":1}
    },
    {
        'col':'Play','mapping':{"No":0,"Yes":1}
    }


    
    
    ]
enc=OrdinalEncoder(mapping=maplist)

#data_cat.columns
data_cat[data_cat.columns] = enc.fit_transform(data_cat[data_cat.columns])

In [141]:
data_cat

    Outlook  Temperature  Humidity  Windy  Play
0         0            0         1      0     0
1         0            0         1      1     0
2         1            0         1      0     1
3         2            1         1      0     1
4         2            2         0      0     1
5         2            2         0      1     0
6         1            2         0      1     1
7         0            1         1      0     0
8         0            2         0      0     1
9         2            1         0      0     1
10        0            1         0      1     1
11        1            1         1      1     1
12        1            0         0      0     1
13        2            1         1      1     0

In [12]:
data_cat['Outlook'].unique()

array([0, 1, 2])

In [13]:
data_cat

    Outlook  Temperature  Humidity  Windy  Play
0         0            0         1      0     0
1         0            0         1      1     0
2         1            0         1      0     1
3         2            1         1      0     1
4         2            2         0      0     1
5         2            2         0      1     0
6         1            2         0      1     1
7         0            1         1      0     0
8         0            2         0      0     1
9         2            1         0      0     1
10        0            1         0      1     1
11        1            1         1      1     1
12        1            0         0      0     1
13        2            1         1      1     0

In [14]:
class gini_cat:
    def __init__(self,data,column,target):
        self.data=data
        self.column=column
        self.target=target
        self.col_val=data[column].unique()
        self.target_val=data[target].unique()
    def compute(self):
        gini_dict={}
        gs=np.inf
        val=None
        for i in self.col_val:
            subset_data=[self.data[self.data[self.column]==i],self.data[self.data[self.column]!=i]]
            gini_score=0
            
            for j in subset_data:
                size=len(j)
                if size==0:
                    continue
                score=0
                for k in self.target_val:
                    p=len(j[j[self.target]==k])/size
                    score+=p**2
                gini_score+=(1-score)*(size)/len(self.data)
                

            if (gini_score<gs):
                gs=gini_score
                val=i
            gini_dict[i]=gini_score
        return (gs,val,gini_dict)

In [15]:
gini_cat(data_cat,'Outlook','Play').compute()

(0.35714285714285715,
 1,
 {0: 0.3936507936507936, 1: 0.35714285714285715, 2: 0.45714285714285713})

In [139]:
d1=data_cat[data_cat['Outlook']==0]

In [32]:
d1

    Outlook  Temperature  Humidity  Windy  Play
2         1            0         1      0     1
6         1            2         0      1     1
11        1            1         1      1     1
12        1            0         0      0     1

In [19]:
class DecisionTreeClassifier:
    def __init__(self,data):
        pass

In [126]:
def get_best_split(data,column):
    n_features=data[column].unique()
    #features={}
    _,_,features=gini_cat(data,column=column,target="Play").compute()
    return (min(features.items(), key=lambda x: x[1]) ,dict(sorted(features.items(), key=lambda item: item[1])))

(get_best_split(data_cat,"Outlook"))

((1, 0.35714285714285715),
 {1: 0.35714285714285715, 0: 0.3936507936507936, 2: 0.45714285714285713})

In [23]:
def subset(data,column,feature):
    return data[data[column]==feature]

In [275]:
class Node:
    def __init__(self,column,idx,data_subset,gini_score):
        self.gini_score=gini_score
        self.data=data_subset
        self.column=column
        self.idx=idx
        self.children=[]

def add_child(parent,node):
    new_node= node
    parent.children.append(new_node)
    return new_node
def print_tree(node, level=0):
    print('  ' * level + str(node.column))
    for child in node.children:
        print_tree(child, level + 1)
'''
root=Node("outlook",data_cat,gini_cat(data_cat,'Outlook','Play').compute()[0])
child1 = add_child(root, 'Sunny',data_cat[data_cat["Outlook"]==0],gini_cat(data_cat[data_cat["Outlook"]==0],'Outlook','Play').compute()[0])
child2 = add_child(root, 'Overcast',data_cat[data_cat["Outlook"]==1],gini_cat(data_cat[data_cat["Outlook"]==1],'Outlook','Play').compute()[0])
child3 = add_child(root, 'Rainy',data_cat[data_cat["Outlook"]==2],gini_cat(data_cat[data_cat["Outlook"]==2],'Outlook','Play').compute()[0])
next=add_child(child1,'Humidity',data_cat[data_cat["Humidity"]==0],gini_cat(data_cat[data_cat["Humidity"]==0],'Outlook','Play').compute()[0])

print(root.children[0].children[0].column)
print_tree(root)
'''

'\nroot=Node("outlook",data_cat,gini_cat(data_cat,\'Outlook\',\'Play\').compute()[0])\nchild1 = add_child(root, \'Sunny\',data_cat[data_cat["Outlook"]==0],gini_cat(data_cat[data_cat["Outlook"]==0],\'Outlook\',\'Play\').compute()[0])\nchild2 = add_child(root, \'Overcast\',data_cat[data_cat["Outlook"]==1],gini_cat(data_cat[data_cat["Outlook"]==1],\'Outlook\',\'Play\').compute()[0])\nchild3 = add_child(root, \'Rainy\',data_cat[data_cat["Outlook"]==2],gini_cat(data_cat[data_cat["Outlook"]==2],\'Outlook\',\'Play\').compute()[0])\nnext=add_child(child1,\'Humidity\',data_cat[data_cat["Humidity"]==0],gini_cat(data_cat[data_cat["Humidity"]==0],\'Outlook\',\'Play\').compute()[0])\n\nprint(root.children[0].children[0].column)\nprint_tree(root)\n'

In [260]:
def build(data,features_col):
    bf,gs,best_col=None,np.inf,None
    for i in features_col:
        if(get_best_split(data,i)[0][-1]<gs):
            gs=get_best_split(data,i)[0][-1]
            bf=get_best_split(data,i)[0]
            best_col=i
    if gs==0:
        return best_col
    else:
        return best_col
col=build(d1,set(d1.columns)-{"Play"})
col

'Humidity'

In [206]:
root.column

'Outlook'

In [210]:
get_best_split(data_cat[data_cat['Outlook']==2],'Humidity')

((1, 0.4666666666666667), {1: 0.4666666666666667, 0: 0.4666666666666667})

In [276]:
def build_decision(node, features):
    col = build(node.data, features_col=features)
    print(col)
    used =[col,"Play"]
    if col != "":
        j, d = get_best_split(node.data, col)
        #j=j[0]
        while len(d)!=0:
            j= min(d.items(), key=lambda x: x[1])[0]
            print("ji:",j)
            gs = min(d.items(), key=lambda x: x[1])[1]
            print(gs)
            
            
            nn = Node(col,j, subset(node.data, col, j), gs)
            
            print(f"Adding child with column {j} and gini score {gs}")
            node.children.append(nn) 
            print(node.children) 
            print(d)
            
            d.pop(j)
    return node  

def add_child(parent, child):
    print(f"Adding child {child.column} to parent {parent.column}")
    parent.children.append(child)

In [240]:
data_cat[data_cat['Outlook']==2],

(    Outlook  Temperature  Humidity  Windy  Play
 3         2            1         1      0     1
 4         2            2         0      0     1
 5         2            2         0      1     0
 9         2            1         0      0     1
 13        2            1         1      1     0,)

In [241]:
subset(data_cat, 'Outlook', 2)

    Outlook  Temperature  Humidity  Windy  Play
3         2            1         1      0     1
4         2            2         0      0     1
5         2            2         0      1     0
9         2            1         0      0     1
13        2            1         1      1     0

In [237]:
gini_cat(data_cat[data_cat['Outlook']==2],"Humidity","Play").compute()

(0.4666666666666667, 1, {1: 0.4666666666666667, 0: 0.4666666666666667})

In [263]:
build(d1, features_col=set(subset(data_cat, 'Outlook', 1).columns)-{"Play"})

'Humidity'

In [258]:
d1=subset(data_cat, 'Outlook',1)

In [277]:
root=Node('Outlook',None,data_cat,gini_cat(data_cat,'Outlook','Play').compute()[0])

In [110]:
root.data.columns.tolist()

['Outlook', 'Temperature', 'Humidity', 'Wind', 'Play']

In [278]:
build_decision(root, set(root.data.columns.tolist())-{'Play'})

Outlook
ji: 1
0.35714285714285715
Adding child with column 1 and gini score 0.35714285714285715
[<__main__.Node object at 0x000001B4E1CBB0D0>]
{1: 0.35714285714285715, 0: 0.3936507936507936, 2: 0.45714285714285713}
ji: 0
0.3936507936507936
Adding child with column 0 and gini score 0.3936507936507936
[<__main__.Node object at 0x000001B4E1CBB0D0>, <__main__.Node object at 0x000001B4E2E3D820>]
{0: 0.3936507936507936, 2: 0.45714285714285713}
ji: 2
0.45714285714285713
Adding child with column 2 and gini score 0.45714285714285713
[<__main__.Node object at 0x000001B4E1CBB0D0>, <__main__.Node object at 0x000001B4E2E3D820>, <__main__.Node object at 0x000001B4E2EAFCA0>]
{2: 0.45714285714285713}

In [279]:
build(data_cat[data_cat['Outlook']==2],data_cat.columns.tolist())

'Windy'

In [202]:
build_decision(root.children[0], set(root.children[0].data.columns.tolist())-{'Play'})

In [ ]:
for i in root.children:
    next=i
    build(data_cat[data_cat['Outlook']==2],data_cat.columns.tolist())
    Node()
    add_child(i,)

In [290]:
gini_cat(data_cat[(data_cat['Outlook']==1)& (data_cat['Play']==0)],"Outlook","Play").compute()[0]

inf

In [248]:
def build_tree(node, features):
    if node.gini_score == 0.0:
        return node
    else:
        if not node.children:
            node = build_decision(node, features)  # update the node with the returned node from build_decision
        for child in node.children:
            (build_tree(child, set(node.data.columns.tolist())-{'Play'}))
    return node

tree = build_decision(root, set(root.data.columns.tolist())-{'Play'})
print_tree(tree)
#print(tree.column)
print(tree.children)

Outlook
ji: 1
0.35714285714285715
hi:
Adding child with column 1 and gini score 0.35714285714285715
[<__main__.Node object at 0x000001B4E2E783A0>, <__main__.Node object at 0x000001B4E2E78550>, <__main__.Node object at 0x000001B4E2E7EFA0>, <__main__.Node object at 0x000001B4E2AF3910>, <__main__.Node object at 0x000001B4E2AE7790>, <__main__.Node object at 0x000001B4E2E3D580>, <__main__.Node object at 0x000001B4E2E99490>, <__main__.Node object at 0x000001B4E2E78EB0>, <__main__.Node object at 0x000001B4E2E99310>, <__main__.Node object at 0x000001B4E2E99C40>, <__main__.Node object at 0x000001B4E2AF3670>, <__main__.Node object at 0x000001B4E2E99730>, <__main__.Node object at 0x000001B4E2E1F280>, <__main__.Node object at 0x000001B4E2E48E50>, <__main__.Node object at 0x000001B4E2E48340>, <__main__.Node object at 0x000001B4E2AF34C0>, <__main__.Node object at 0x000001B4E2E7E820>, <__main__.Node object at 0x000001B4E2E99D60>, <__main__.Node object at 0x000001B4E2AF3A00>, <__main__.Node object at 0x000001B4E2E78FA0>, <__main__.Node object at 0x000001B4E2E7E6D0>, <__main__.Node object at 0x000001B4E1CBB0A0>]
{1: 0.35714285714285715, 0: 0.3936507936507936, 2: 0.45714285714285713}
ji: 0
0.3936507936507936
hi:
Adding child with column 0 and gini score 0.3936507936507936
[<__main__.Node object at 0x000001B4E2E783A0>, <__main__.Node object at 0x000001B4E2E78550>, <__main__.Node object at 0x000001B4E2E7EFA0>, <__main__.Node object at 0x000001B4E2AF3910>, <__main__.Node object at 0x000001B4E2AE7790>, <__main__.Node object at 0x000001B4E2E3D580>, <__main__.Node object at 0x000001B4E2E99490>, <__main__.Node object at 0x000001B4E2E78EB0>, <__main__.Node object at 0x000001B4E2E99310>, <__main__.Node object at 0x000001B4E2E99C40>, <__main__.Node object at 0x000001B4E2AF3670>, <__main__.Node object at 0x000001B4E2E99730>, <__main__.Node object at 0x000001B4E2E1F280>, <__main__.Node object at 0x000001B4E2E48E50>, <__main__.Node object at 0x000001B4E2E48340>, <__main__.Node object at 0x000001B4E2AF34C0>, <__main__.Node object at 0x000001B4E2E7E820>, <__main__.Node object at 0x000001B4E2E99D60>, <__main__.Node object at 0x000001B4E2AF3A00>, <__main__.Node object at 0x000001B4E2E78FA0>, <__main__.Node object at 0x000001B4E2E7E6D0>, <__main__.Node object at 0x000001B4E1CBB0A0>, <__main__.Node object at 0x000001B4E2E3DA60>]
{0: 0.3936507936507936, 2: 0.45714285714285713}
ji: 2
0.45714285714285713
hi:
Adding child with column 2 and gini score 0.45714285714285713
[<__main__.Node object at 0x000001B4E2E783A0>, <__main__.Node object at 0x000001B4E2E78550>, <__main__.Node object at 0x000001B4E2E7EFA0>, <__main__.Node object at 0x000001B4E2AF3910>, <__main__.Node object at 0x000001B4E2AE7790>, <__main__.Node object at 0x000001B4E2E3D580>, <__main__.Node object at 0x000001B4E2E99490>, <__main__.Node object at 0x000001B4E2E78EB0>, <__main__.Node object at 0x000001B4E2E99310>, <__main__.Node object at 0x000001B4E2E99C40>, <__main__.Node object at 0x000001B4E2AF3670>, <__main__.Node object at 0x000001B4E2E99730>, <__main__.Node object at 0x000001B4E2E1F280>, <__main__.Node object at 0x000001B4E2E48E50>, <__main__.Node object at 0x000001B4E2E48340>, <__main__.Node object at 0x000001B4E2AF34C0>, <__main__.Node object at 0x000001B4E2E7E820>, <__main__.Node object at 0x000001B4E2E99D60>, <__main__.Node object at 0x000001B4E2AF3A00>, <__main__.Node object at 0x000001B4E2E78FA0>, <__main__.Node object at 0x000001B4E2E7E6D0>, <__main__.Node object at 0x000001B4E1CBB0A0>, <__main__.Node object at 0x000001B4E2E3DA60>, <__main__.Node object at 0x000001B4E2E99670>]
{2: 0.45714285714285713}
Outlook
  1
  0
  2
  1
  0
  2
  1
  0
  2
  1
  0
  2
  1
  0
  2
  1
  0
  2
  1
  0
  2
  1
  0
  2
[<__main__.Node object at 0x000001B4E2E783A0>, <__main__.Node object at 0x000001B4E2E78550>, <__main__.Node object at 0x000001B4E2E7EFA0>, <__main__.Node object at 0x000001B4E2AF3910>, <__main__.Node object at 0x000001B4E2AE7790>, <__main__.Node object at 0x000001B4E2E3D580>, <__main__.Node object at 0x000001B4E2E99490>, <__main__.Node object at 0x000001B4E2E78EB0>, <__main__.Node object at 0x000001B4E2E99310>, <__main__.Node object at 0x000001B4E2E99C40>, <__main__.Node object at 0x000001B4E2AF3670>, <__main__.Node object at 0x000001B4E2E99730>, <__main__.Node object at 0x000001B4E2E1F280>, <__main__.Node object at 0x000001B4E2E48E50>, <__main__.Node object at 0x000001B4E2E48340>, <__main__.Node object at 0x000001B4E2AF34C0>, <__main__.Node object at 0x000001B4E2E7E820>, <__main__.Node object at 0x000001B4E2E99D60>, <__main__.Node object at 0x000001B4E2AF3A00>, <__main__.Node object at 0x000001B4E2E78FA0>, <__main__.Node object at 0x000001B4E2E7E6D0>, <__main__.Node object at 0x000001B4E1CBB0A0>, <__main__.Node object at 0x000001B4E2E3DA60>, <__main__.Node object at 0x000001B4E2E99670>]